<%- include('../meta/meta', {title: "Manage Products" }) %>

    <link rel="stylesheet" href="/static/styles/products.css">

    </head>

    <body>
        <%- include('../layouts/header') %>
            <main>
                <h1>Product Administration</h1>
                <section>
                    <h2>Manage Products</h2>
                    <p>
                        <a href="/admin/product/" class="btn">
                            Add Product
                        </a>
                    </p>
                </section>

                <section>
                    <ul class="products-item">
                        <% products.forEach((product)=> { %>
                            <li class="product-item">
                                <%- include("product-item", {product}) %>
                            </li>
                            <% }) %>
                    </ul>
                </section>
            </main>
            <%- include('../layouts/footer', {title: "Sign Up" }) %>