<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Todos</title>
  <link rel="stylesheet" href="styles/main.css" />

  <script src="https://unpkg.com/vue@3/dist/vue.global.js" defer></script>
  <script src="scripts/app.js" defer></script>

</head>

<body>
  <header>
    <h1>Todo Management</h1>
    <p>Manage your (daily) todos with ease!</p>
  </header>
  <main id="app">

    <section id="todo-management">

      <!--    Vue Event 사용    -->
      <form @submit="submit">
        <label for="text">Todo text</label>
        <input type="text" id="text" v-model="text" required />
        <button>Save</button>
      </form>

    </section>

    <section id="todos">
      <ul id="todos-list">

        <!--    Vue if 조건문 사용    -->
        <p v-if="todos.length === 0">검색 결과가 없습니다.</p>

        <!--    Vue else 조건문 사용    -->
        <!--    Vue 반복문 사용    -->
        <li v-else v-for="todo in todos">

          <P>
            <!--    Vue 변수 사용    -->
            {{ todo.text }}
          </P>

          <div>
            <button @click="editItem(todo.id)">Edit</button>
            <button @click="deleteItem(todo.id)">Delete</button>
          </div>
        </li>
      </ul>
    </section>

  </main>
</body>

</html>