header {
  position: sticky;
  top: 0;
  z-index: 1;
}

#carousel-example {
  width: 100%;
  max-width: 50rem;
  height: 30rem;
  margin: 2rem auto;
}

#carousel-example img {
  height: 30rem;
  object-fit: cover;
}

#input-group-example {
  width: 30rem;
  margin: 2rem auto;
}
