<header>
    <a href="/">
        WDE
    </a>
    <nav>
        <% if(locals.isLogin) { %>
            <a href="/logout">
                logout
            </a>
            <%} %>
    </nav>
</header>