<header id="header-navigation">
    <div class="logo">
        <a href="/">
            WDE
        </a>
    </div>
    <nav>
        <%- include('./navigations') %>
    </nav>
    <div id="burger-button">
        <span></span>
        <span></span>
        <span></span>
    </div>
</header>

<aside id="mobile-navigation">
    <nav>
        <%- include('./navigations') %>
    </nav>
</aside>