<%- include("meta/meta", {title: "401 ERROR" }) %>

    </head>

    <body>
        <%- include("layouts/header") %>
            <main>
                <h1>401 Error</h1>

                <p>
                    Unauthorized.
                </p>
            </main>
            <%- include("layouts/footer") %>