<%- include('includes/head.ejs', { title: 'Error!' }) %>
  </head>

  <body>
    <%- include('includes/header.ejs') %>
      <main>
        <h1>Not Admin!</h1>
        <p>You are not admin!</p>
      </main>
  </body>

  </html>