<%- include('meta/meta', {title: "Sign Up" }) %>

    </head>

    <body>
        <%- include('layouts/header') %>
            <main>
                <h1>403 Error</h1>

                <p>
                    Forbidden.
                </p>
            </main>
            <%- include('layouts/footer', {title: "Sign Up" }) %>