<%- include('meta/meta', {title: "500 ERROR" }) %>

    </head>

    <body>
        <%- include('layouts/header') %>
            <main>
                <h1>500 Error</h1>

                <p>
                    Internal Server Error.
                </p>
            </main>
            <%- include('layouts/footer', {title: "Sign Up" }) %>