<%- include('meta/meta', {title: "Sign Up" }) %>

    </head>

    <body>
        <%- include('layouts/header') %>
            <main>
                <h1>Hello world!</h1>

            </main>
            <%- include('layouts/footer', {title: "Sign Up" }) %>