<%- include("meta/meta", {title: "WDE" }) %>

    <link rel="stylesheet" href="/static/styles/products.css">
    </head>

    <body>
        <%- include("layouts/header") %>
            <main>
                <section>
                    <ul class="products-item">
                        <% products.forEach((product)=> { %>
                            <li class="product-item">
                                <%- include("./product/item", {product}) %>
                            </li>
                            <% }) %>
                    </ul>
                </section>
            </main>
            <%- include("layouts/footer") %>