<%- include("../meta/meta", {title: "Your Order" }) %>
    </head>

    <body>
        <%- include("../layouts/header") %>
            <main>
                <h1>
                    Payment Failed!
                </h1>
                <p>

                </p>
            </main>
            <%- include("../layouts/footer") %>