<%- include("../meta/meta", {title: "Your Order" }) %>
    </head>

    <body>
        <%- include("../layouts/header") %>
            <main>
                <h1>
                    Payment Success!
                </h1>
                <p>
                    View Your All <a href="/order">Orders</a>
                </p>
            </main>
            <%- include("../layouts/footer") %>