.products-item {
  display: grid;
  margin: var(--space-8) auto;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  gap: var(--space-4);
}

.product-item {
  border-radius: var(--border-radius-medium);
  text-align: center;
  background-color: var(--color-gray-600);
  overflow: hidden;
  cursor: pointer;
}

.product-item img {
  width: 100%;
  height: 10rem;
  object-fit: cover;
}

.product-item a {
  color: inherit;
}

.product-image {
  display: flex;
  width: 90%;
  padding: var(--space-4) 0;
  height: 10rem;
}

.product-image p:first-child {
  flex-basis: 80%;
}

.product-image p:last-child {
  flex-basis: 20%;
}

.product-image img {
  width: 100%;
  height: 15rem;
  object-fit: cover;
  display: none;
}

.product-view-header {
  height: 15rem;
  display: flex;
  justify-content: space-between;
}

.product-view-header img {
  width: 100%;
  height: 15rem;
  object-fit: cover;
  padding: 0 var(--space-8);
  margin: auto 0;
}

.product-view-header div {
  width: 100%;
  padding: 0 var(--space-8);
  margin: 0 auto;
}

main.proudct-view-main p {
  padding: 0 var(--space-8);
}

@media (max-width: 48rem) {
  .product-view-header {
    display: block;
  }

  .product-view-header img {
    width: 100%;
    height: 6rem;
  }

  main.proudct-view-main p {
    margin: var(--space-8) 0;
  }
}
