<article>
        <a href="/admin/product/<%= product._id %>">

                <img src="/images/<%= product.filename %>" alt="<%= product.title %> ">
                <h2>
                        <%= product.title %>
                </h2>
        </a>
</article>